<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Сборки компьютеров</title>
	<link rel="stylesheet" href="main.css">
	<script src="https://unpkg.com/vue@next"></script>
</head>
<body class="page">
	<div id="app">
		<header class="header" :class="{ dark: dark }">
			<div class="header__logo">Кириллов</div>
			<div class="header__container">
				<nav class="nav">
					<a href="#budgetary" class="nav__item">Бюджетные</a>
					<a href="#top" class="nav__item">Топовые</a>
					<a href="#servers" class="nav__item">Серверы</a>
				</nav>
				<div class="header__toggler">
					<input type="checkbox" class="toggle" v-model="dark">
					<span>Темная тема</span>
				</div>
			</div>
		</header>

		<main class="main" :class="{ dark: dark }">
			<h1 class="main__title">Подборки сборок железа</h1>

			<section class="budgetary section" id="budgetary">
				<h1 class="section__title">Бюджетные</h1>

				<div class="section__inner">
					<article class="article" v-for="item in budgetary">
						<img class="article__img" :src="item.url" alt="комп">
						<h3 class="article__title">{{ item.title }}</h3>
						<div class="article__desc">{{ item.desc }}</div>
						
						<ul class="article__list">
							<li class="article__list-item">Мать</li>
							<li class="article__list-item">БП</li>
							<li class="article__list-item">Корпус</li>
						</ul>
					</article>
				</div>
			</section>

			<section class="top section" id="top">
				<h1 class="section__title">Топовые</h1>

				<div class="section__inner">
					<article class="article" v-for="item in top">
						<img class="article__img" :src="item.url" alt="комп">
						<h3 class="article__title">{{ item.title }}</h3>
						<div class="article__desc">{{ item.desc }}</div>
						
						<ul class="article__list">
							<li class="article__list-item">Мать</li>
							<li class="article__list-item">БП</li>
							<li class="article__list-item">Корпус</li>
						</ul>
					</article>
				</div>
			</section>

			<section class="servers section" id="servers">
				<h1 class="section__title">Серверы</h1>

				<div class="section__inner">
					<article class="article" v-for="item in servers">
						<img class="article__img" :src="item.url" alt="комп">
						<h3 class="article__title">{{ item.title }}</h3>
						<div class="article__desc">{{ item.desc }}</div>
						
						<ul class="article__list">
							<li class="article__list-item">Мать</li>
							<li class="article__list-item">БП</li>
							<li class="article__list-item">Корпус</li>
						</ul>
					</article>
				</div>
			</section>

			<form action="#" class="form" @submit.prevent="handleForm">
				<label class="form__label">
					<span>Название статьи</span> {{ title }}
					<input type="text" class="form__input" v-model="title">
				</label>

				<label class="form__label">
					<span>Описание</span>
					<textarea name="" id="" cols="30" rows="5" class="form__textarea" v-model="desc"></textarea>
				</label>

				<label class="form__label">
					<span>Категория</span>
					<select class="form__select" v-model="category">
						<option value="Бюджетные" selected>Бюджетные</option>
						<option value="Бюджетные">Топовые</option>
						<option value="Бюджетные">Серверы</option>
					</select>
				</label>

				<label class="form__label">
					<span>URL-адрес до картинки</span>
					<input type="text" class="form__input" v-model="url">
				</label>

				<input type="submit" class="form__submit" value="Добавить">
			</form>
		</main>

		<footer class="footer" :class="{ dark: dark }">
			<span>Кириллов Даниил Павлович | 201-322 | 01.06.2021</span>
		</footer>
	</div>
</body>
</html>