*
	margin: 0
	padding: 0
	box-sizing: border-box
	font-family: 'Arial', sans-serif

a
	color: inherit

.page
	background-color: #EAE2B7

.header
	background-color: #003049
	min-height: 80px
	display: flex
	justify-content: space-between
	align-items: center
	padding: 0 50px
	color: #EAE2B7

	&__container
		display: flex
		align-items: center

	&__toggler
		display: flex
		align-items: center

.nav
	margin-right: 20px

	&__item:not(:last-child)
		margin-right: 20px

.main
	padding: 50px